<!-- keep whole list only add one thing as shown

<div class="col-sm-12 mt-4 mb-4">
    <div class="dropdown">
        <button class="btn btn-outline dropdown-toggle custom-picker" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i> Server Controls
        </button>
        <div class="dropdown-menu col-md-12" aria-labelledby="dropdownMenuButton">

        everything above!!!
        -->
            <a class="dropdown-item {% if data['active_link'] == 'resource_manager' %}active{% end %}" href="/panel/server_detail?id={{ data['server_stats']['server_id']['server_id'] }}&subpage=resource_manager" role="tab" aria-selected="false">
                <i class="fas fa-cloud-download-alt"></i> Resource Manager</a>
            {% end %}
        <!--
        </div>
    </div>
</div>
-->