<!-- same as mobile keep the whole list just add one thing

<ul class="nav nav-tabs col-md-12 tab-simple-styled " role="tablist">

    everything above!!!
-->
    {% if data['permissions']['Files'] in data['user_permissions'] %}
    <li class="nav-item term-nav-item">
        <a class="nav-link {% if data['active_link'] == 'resource_manager' %}active{% end %}" href="/panel/server_detail?id={{ data['server_stats']['server_id']['server_id'] }}&subpage=resource_manager" role="tab" aria-selected="false">
            <i class="fas fa-cloud-download-alt"></i> Resource Manager</a>
    </li>
    {% end %}
<!--
</ul>
-->